<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StyleSalon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StyleSalon.My.MySettings.ATCConnectionString" connectionString="Data Source=SAPHIRA\SQLSERVER2012;Initial Catalog=ATC;Persist Security Info=True;User ID=StyleSalon;Password=StyleSalon"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <StyleSalon.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>SAPHIRA\SQLSERVER2012</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>ATC</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>StyleSalon</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>StyleSalon</value>
            </setting>
            <setting name="connection" serializeAs="String">
                <value>Data Source=SAPHIRA\SQLSERVER2012;Initial Catalog=ATC;Persist Security Info=True;User ID=StyleSalon;Password=StyleSalon</value>
            </setting>
        </StyleSalon.My.MySettings>
    </userSettings>
</configuration>
